<div {{ attributes.addClass("box-score-detail")}}>
  <div class="time-container">
    <div class="time">{{ time }}</div>
  </div>
  <div class="detail-container">
    <div class="player">#{{player_number|default(0)}} {{ player_name }}</div>
    <div class="detail">{{ detail }}</div>
    <div class="team">{{ team }}</div>
  </div>
</div>
