<div {{ attributes.addClass('goal')}}>
	{{ label }}
  {{ content.field_period }}
  {{ content.field_team }}
  {{ content.field_player }}
  {{ content.field_time }}
  {{ content.field_assist }}
  {{ content.field_type }}

</div>
